<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: page('UA Detail – ' + ${uaName}, ~{:: .extra-head}, ~{:: .page-content}, ~{:: .page-script})}">
<head><title th:text="'UA Detail – ' + ${uaName}">UA Detail</title></head>
<th:block class="extra-head">
    <meta name="cf-from"    th:content="${from}"/>
    <meta name="cf-to"      th:content="${to}"/>
    <meta name="cf-to-date" th:content="${toDate}"/>
    <meta name="cf-ua"      th:content="${uaName}"/>
</th:block>
<th:block class="page-content">

    <th:block th:replace="~{fragments/toolbar :: detailToolbar('/ua-detail', 'ua', ${uaName}, ${uaName})}"></th:block>

    <div id="browserMinHumanVersionBanner" class="alert alert-warning d-none mb-3" role="alert"></div>

    <!-- user agents list -->
    <div class="card mb-4">
        <div class="card-header fw-semibold">User Agents</div>
        <div class="card-body p-0">
            <table class="table table-sm table-striped table-hover mb-0" id="tableUserAgents">
                <thead>
                    <tr>
                        <th style="width:2rem">#</th>
                        <th>User Agent</th>
                        <th class="text-end" style="width:6rem">Requests</th>
                        <th class="text-end" style="width:10rem">Proportion of requests from human IPs</th>
                        <th style="width:180px"></th>
                    </tr>
                </thead>
                <tbody id="tbodyUserAgents">
                    <tr><td colspan="5" class="text-center text-muted py-3">Loading…</td></tr>
                </tbody>
            </table>
        </div>
        <div th:replace="~{fragments/result-legend :: legend('uaBarLegend')}"></div>
    </div>

    <th:block th:replace="~{fragments/chart-rows :: chartRows}"></th:block>

</th:block>
<th:block class="page-script">
    <script type="module" th:src="@{/js/ua-detail.js}"></script>
</th:block>
</html>
